:root {
    --cor-principal: #8CFE34;
    --cor-secundaria: #4DC5FF;
    --fundo-principal: #5F5A5A;
    --fundo-secundario: #827D7D;
}

body {
    background-color: var(--fundo-principal);
}
