@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url(./styles/header.css);
@import url(./styles/principal.css);
@import url(./styles/filmes.css);
@import url(./styles/usuario.css);
@import url(./styles/footer.css);

:root {
    --cor-principal: #8CFE34;
    --cor-secundaria: #4DC5FF;
    --fundo-principal: #5F5A5A;
    --fundo-secundario: #827D7D;
    --branco: #fff;
}

body {
    background-color: var(--fundo-principal);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
